﻿<section>
    <div >
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" class="carousel">
            <div class="carousel-inner" style="height: 90%">
                <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                    <img ng-src="{{slide.image}}" style="margin:auto;">
                    <div class="carousel-caption">
                        <h4>Slide {{slide.id}}</h4>
                        <p>{{slide.text}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .carousel-caption.ng-scope {
            bottom: 50%;
            position: absolute;
        }

        div.text-center img.ng-scope {
            width: 100%;
            height: 100%;
            text-align: center;
        }
    </style>

</section>

