﻿<section>
    <!-- Create Leave Application -->

    <style>
        .md-datepicker-calendar-pane {
            z-index: 1200
        }

        .required-field {
            color: red;
        }

        .controll-button {
            padding: 0px 15px;
        }

        .controll-button button:nth-child(2) {
            float: right;
            background-color: #03A9F4;
            border-color: #03A9F4;
        }

        .has-error {
            border-color: #b94a48 !important;
            border: 2px solid;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
        }

        textarea {
            resize: none;
        }

        li.active>a {
            background: #B5B2B0 !important;
            color: white !important;
            border-color: #df4814 !important;
        }

        thead {
            background: #B5B2B0;
            color: white;
        }
        label {
            /* min-height: 38px; */
            font-size: 12px;
        }
        input#inpStartDate {
            border: 1px solid #bbbaba;
        }

        input#inpReturnDate {
            border: 1px solid #bbbaba;
        }
    </style>
    <!--Comment box -->

    <div id="modalCommentLeaveApplication" class="modal fade" role="dialog">
        <div class="modal-dialog" style="margin: auto; width: 90%;">
            <!-- Modal content-->
            <div class="modal-content panel-primary">
                <div class="modal-header panel-heading">
                    <h4 class="modal-title">Comment</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label for="inpRemarks">Message </label>
                            <textarea class="form-control" rows="5" id="inpRemarks" value="{{selectedLeaveApplication.Remarks }}">{{selectedLeaveApplication.Remarks }} {{selectedLeaveApplication.Withdraw }}  {{selectedLeaveApplication.Cancel }}</textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>

    </div>
    <!-- end -->
    <!--withdraw reason -->
    <div id="modalWithdrawLeaveApplication" class="modal fade" role="dialog">
        <div class="modal-dialog" style="margin: auto; width: 90%;">
            <!-- Modal content-->
            <div class="modal-content panel-primary">
                <div class="modal-header panel-heading">
                    <!--<button type="button" class="close btn-primary" data-dismiss="modal">&times;</button>-->
                    <h4 class="modal-title">Withdraw Leave Application</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label for="inpWithdraw">Comments </label>
                            <textarea class="form-control" rows="5" id="inpWithdraw" ng-model="selectedLeaveApplication.Withdraw"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="selectedLeaveApplication.Status = 'Withdraw'; CancelLeaveApplication_Click(selectedLeaveApplication)">Withdraw Application</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>

    </div>
    <!--withdraw end -->
    <!--Cancel reason -->
    <div id="modalCancelLeaveApplication" class="modal fade" role="dialog">
        <div class="modal-dialog" style="margin: auto; width: 90%;">
            <!-- Modal content-->
            <div class="modal-content panel-primary">
                <div class="modal-header panel-heading">
                    <!--<button type="button" class="close btn-primary" data-dismiss="modal">&times;</button>-->
                    <h4 class="modal-title">Cancel Leave Application</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label for="inpRemarks">Comments </label>
                            <textarea class="form-control" rows="5" id="inpRemarks" ng-model="selectedLeaveApplication.Cancel"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="selectedLeaveApplication.Status = 'Cancel'; CancelLeaveApplication_Click(selectedLeaveApplication)">Cancel Application</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>

    </div>
    <!--Cancel end -->
    <!--reject reason -->
    <div id="modalRejectLeaveApplication" class="modal fade" role="dialog">
        <div class="modal-dialog" style="margin: auto; width: 90%;">
            <!-- Modal content-->
            <div class="modal-content panel-primary">
                <div class="modal-header panel-heading">
                    <!--<button type="button" class="close btn-primary" data-dismiss="modal">&times;</button>-->
                    <h4 class="modal-title">Decline Leave Application</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label for="inpReject">Comments </label>
                            <span style="color: red; " id="inpRejectMess">Comments can not be empty</span>
                            <textarea class="form-control" rows="5" id="inpReject" ng-model="selectedLeaveApplication.RejectionReason"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="RejectLeaveApplication()">Confirm</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>

    </div>
    <!--reject reason end -->
    <!--new leave application -->
    <div id="modalLeaveApplication" class="modal fade" role="dialog" data-backdrop="static">

        <div class="modal-dialog" style="margin: auto; width: 90%;">
            <!-- Modal content-->
            <div class="modal-content panel-primary">
                <div class="modal-header panel-heading">
                    <h4 class="modal-title">New Leave Application
                        <span data-dismiss="modal" style=" position: absolute; right: 15px; cursor:pointer; "
                            ng-click="selectedLeaveApplication = {}">X</span>
                    </h4>
                </div>
                <div class="modal-body">
                   
                        <div class="col-xs-12">
                                <div class="col-xs-6 form-group">
                                        <button type="button" class="btn btn-default" ng-click="SaveLeaveApplication()" data-dismiss="modal">Save as Draft</button>
                                </div>
                                <div class="col-xs-6 form-group">
                                        <button type="button" class="btn btn-default" ng-click="SubmitLeaveApplication()" data-dismiss="modal" style=" float: right; ">Submit</button>
                                </div>
                              
                        </div>
                        <hr class="col-xs-12" style=" padding: 0px; ">

                    <div class="row">
                        <div class="col-xs-12" style=" padding-bottom: 15px; ">
                          
                            <div class="col-xs-7">
                                    <label for="inpEmployee">Please check with Payroll before applying to ensure you have sufficient leave accrued. Kindly tick the checkbox to confirm you have checked with Payroll.</label> <br>
                                    <input type="checkbox" readonly class="" id="inpEmployeeEmail" ng-model="selectedLeaveApplication.SufficientLeaves" ng-checked="selectedLeaveApplication.SufficientLeaves" >
                            </div>
                            <div class="col-xs-5">
                                    <label for="inpEmployee">Have you discussed this leave with your Line manager? If Yes, please tick this checkbox.</label>
                                    <input type="checkbox" readonly class="" id="inpEmployeeEmail" ng-model="selectedLeaveApplication.DiscussedWithManager" ng-checked="selectedLeaveApplication.DiscussedWithManager">   
                            </div>
                           
                        </div>
                    </div>

                    <div class="row" >
                        <div class="col-xs-4 form-group">
                            <label for="inpEmployee">Employee Email</label>
                            <input type="text" readonly class="form-control" id="inpEmployeeEmail" ng-model="selectedLeaveApplication.EmployeeEmail">
                        </div>
                        <div class="col-xs-4 form-group" id="FirstName-leave">
                            <label for="inpFirstname">Firstname</label>
                            <input type="text" readonly class="form-control" id="inpFirstname" ng-model="selectedLeaveApplication.EmployeeFirstname">
                        </div>
                        <div class="col-xs-4 form-group" id="EmployeeSurname-leave">
                            <label for="inpLastname">Surname</label>
                            <input type="text" readonly class="form-control" id="inpLastname" ng-model="selectedLeaveApplication.EmployeeSurname">
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-xs-4 form-group">
                            <label for="inpEmployeeId">Employee ID</label>
                            <input type="text" readonly class="form-control" id="inpEmployeeId" ng-model="selectedLeaveApplication.EmployeeID">
                        </div>
                        <div class="col-xs-4 form-group">
                            <label for="inpDepartment">Department</label>
                            <input type="text" readonly class="form-control" id="inpDepartment" ng-model="selectedLeaveApplication.Department">
                        </div>


                        <div class="col-xs-4 form-group">
                            <label for="inpDesignation">Designation</label>
                            <input type="text" readonly class="form-control" id="inpDesignation" ng-model="selectedLeaveApplication.Designation">
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-xs-4 form-group" id="ReportTo-leave">
                            <label for="ppReportsTo">Reports To
                                <span class="required-field">*</span>
                            </label>
                            <!--https://www.npmjs.com/package/bootstrap-3-typeahead-->
                            <select data-provide="typeahead" class="form-control" id="ppReportsTo" ng-model="selectedLeaveApplication.ReportTo"  placeholder="Start typing a name...">
                                <option ng-repeat="manager in managers " value="{{manager.Email}}" ng-click="selectedLeaveApplication.LineManagerName = manager.Title">{{manager.Title}}</option>
                            </select>

                        </div>

                        <div class="col-xs-4 form-group" id="StartDate-leave">

                            <label for="inpStartDate">Leave Start Date
                                <span class="required-field">*</span>
                            </label>
                            <!-- <span style="color:red;" id="inpStartDateMsg">Please do not select weekend dates</span> -->
                            <input type="text" class="hasDatepicker" id="inpStartDate" ng-model="selectedLeaveApplication.StartDate" style="width: 100%; height: 38px;">


                        </div>


                        <div class="col-xs-4 form-group">

                            <label for="inpReturnDate" style="width:100%;">Leave End Date
                                <span class="required-field">*</span>
                            </label>
                            <input type="text" class="hasDatepicker" id="inpReturnDate" ng-model="selectedLeaveApplication.ReturnDate" style="width: 100%; height: 38px;">

                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-xs-4 form-group">
                            <label for="inpLeaveType">Leave Type
                                <span class="required-field">*</span>
                            </label>
                            <select class="custom-select form-control" id="inpLeaveType" ng-model="selectedLeaveApplication.LeaveType">
                                <option ng-repeat="item in leave_type" value="{{item.leave_type_code}}">{{item.leave_type_text}}</option>
                            </select>
                        </div>
                        <div class="col-xs-4 form-group" ng-if="selectedLeaveApplication.enable_leave_category">
                            <label for="inpLeaveCat">Leave Category</label>
                            <select class="custom-select form-control" id="inpLeaveCat" ng-model="selectedLeaveApplication.LeaveCategory">
                                <option selected value="1">With Certificate</option>
                                <option value="2">WithOut Certificate</option>
                            </select>
                        </div>


                        <div class="col-xs-4 form-group" ng-if="selectedLeaveApplication.enable_leave_category" style="padding-top: 25px;" id="enable_leave_attachment">
                            <label for="inpFile" style="width: 90%; position: absolute; height: 80%;" ng-class=""></label>
                            <input id="inpFile" type="file" ng-init="vailidateAttachement();">
                            <span style="color:red;font-size: 12px;">File format: {{selectedLeaveApplication.LeaveType}}_FirstName_LastName_ddmmyy
                                <br>e.g. {{selectedLeaveApplication.LeaveType}}_John_Doe_020318
                                <br>
                            </span>
                            <div ng-repeat="file in selectedLeaveApplication.SupportingFiles">
                                <div class="row"></div>
                                <div class="col-xs-11">
                                    {{file.name}}
                                </div>
                                <div class="col-xs-1">
                                    <button type="button" class="close btn-primary" ng-click="ClearFile()">&times;</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row"> -->
                        <!-- <div class="col-xs-4 form-group">
                            <label for="inpPayrollCode">Payroll Code</label>
                            <input type="text" class="form-control" id="inpPayrollCode" ng-model="selectedLeaveApplication.PayrollCode" disabled>
                        </div> -->
                    <!-- </div> -->
                    <div class="row" >
                        <div class="col-xs-4 form-group">
                            <label for="inpTotalDays">Total Public Holidays in the Leave Period<br>(Specify the number of days)</label>
                            <input type="text"  class="form-control" id="inpTotalHolidays" ng-model="selectedLeaveApplication.PublicHolidays">
                        </div>
                        <div class="col-xs-4 form-group">
                            <label for="inpTotalDays">Total Leave Days<br>(Automatically Calculated)</label>
                            <input type="text" readonly class="form-control" id="ActualLeaveChecked-leave" ng-model="selectedLeaveApplication.TotalDays">
                        </div>
                        <div class="col-xs-4 form-group">
                            <input type="checkbox" ng-click="ActualLeaveToggle($event)" ng-model="selectedLeaveApplication.ActualLeaveChecked" style="margin-top: 7px; position: absolute; right: 40px;" />
                            <label for="inpActualLeave">Total Actual Leave Hours Applied <span class="required-field">*</span> <br>(1 standard working day = 7.6 hours)</label>

                            <input type="text" class="form-control" id="inpActualLeave" ng-model="selectedLeaveApplication.ActualLeave">
                            <span id="error-message" style="color: red"></span>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-xs-12 form-group">
                            <label for="Remarks-leave">Comments 
                            </label>
                            <input type="text" class="form-control" rows="5" id="Remarks-leave" ng-model="selectedLeaveApplication.Remarks">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-2 col-xs-2">
                        <button type="button" class="btn btn-default" ng-click="SaveLeaveApplication();$event.stopPropagation();">Save as Draft</button>
                    </div>
                    <div class="col-md-10 col-xs-10">
                        <button type="button" class="btn btn-default" ng-click="SubmitLeaveApplication()" data-dismiss="modal">Submit</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="selectedLeaveApplication = {}">Cancel</button>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
    <!--new leave application end -->
    <!-- User View -->
    <div class="panel panel-primary" ng-show="stage.view == 'UserView'">
        <!-- Default panel contents -->
        <div id="titleDiv" class="panel-heading">Leave Applications for {{username}}</div>
        <div class="panel-body">
            <p>Please click the button below to create new leave application</p>
        </div>
        <div class="controll-button">
            <button type="button" class="btn btn-primary" ng-click="newLeaveApplication_Click()">New Leave Application</button>
            <button type="button" class="btn btn-primary" ng-click="refreshLeaveApplication_Click()">Refresh</button>
        </div>
        <br />
        <ul id="userTabs" class="nav nav-tabs nav-justified">
            <li role="presentation" >
                <a href="#" ng-click="filterData($event, leave_application_status.draft.user.value)">Draft</a>
            </li>
            <li role="presentation" class="active">
                <a href="#" ng-click="filterData($event, leave_application_status.pending.user.value)">Pending</a>
            </li>
            <li role="presentation">
                <a href="#" ng-click="filterData($event, leave_application_status.approve.user.value)">Approved</a>
            </li>
            <li role="presentation">
                <a href="#" ng-click="filterData($event, leave_application_status.rejected.user.value)">Declined</a>
            </li>
            <li role="presentation">
                <a href="#" ng-click="filterData($event, leave_application_status.cancel.user.value)">Withdrawn/Cancelled</a>
            </li>
        </ul>
        <!-- Table -->
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Leave Type</th>
                    <th>Leave Start Date</th>
                    <th>Leave End Date</th>
                    <th>Total Days</th>
                    <th>Actual Leave(Hours)</th>
                    <th>Reports To</th>
                    <th >Status</th>
                    
                    <th ng-if="stage.tab == leave_application_status.pending.user.value" colspan="5"></th>
                    <th ng-if="stage.tab == leave_application_status.rejected.user.value"></th>
                    <th ng-if="stage.tab == leave_application_status.rejected.user.value"></th>
                    <th ng-if="stage.tab == leave_application_status.rejected.user.value">Declined Reason</th>
                    <th ng-if="stage.tab == leave_application_status.cancel.user.value">Cancel Reason</th>
                    <th ng-if="stage.tab == leave_application_status.cancel.user.value">Withdraw Reason</th>
                    <th ng-if="stage.tab == leave_application_status.cancel.user.value"></th>
                    <th ng-if="stage.tab == leave_application_status.cancel.user.value"></th>
                    <th ng-if="stage.tab == leave_application_status.cancel.user.value"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="data in FilterLeaveApplicationData track by data.ID">
                    <td>{{data.LeaveType}}</td>
                    <td>{{data.StartDate}}</td>
                    <td>{{data.ReturnDate}}</td>
                    <td>{{data.TotalDays}}</td>
                    <td>{{data.ActualLeave}}</td>
                    <td>{{data.ReportTo}}</td>
                    <td>{{data.Status}}</td>
                    <td>
                        <span ng-show="data.Status == 'Cancel'">{{data.Cancel}}</span>
                    </td>
                    <td>
                        <span ng-show="data.Status == 'Withdraw'">{{data.Withdraw}}</span>
                    </td>
                    <!-- <td  >{{data.Remarks}} </br> {{data.Withdraw}}</br> {{data.Cancel}}</td> -->
                    <!--<td> <span class="btn btn-sm btn-danger"  data-toggle="modal"  data-target="#modalCommentLeaveApplication" ng-click="mapItemToSelApplication(data)">Comment</span></td>-->
                    
                    <td>
                        <span ng-show="stage.tab == leave_application_status.rejected.user.value">{{data.RejectionReason}}</span>
                    </td>
                    <td ng-show="data.Status == leave_application_status.draft.user.value || data.Status == leave_application_status.rejected.user.value">
                        <button type="button" 
                            class="btn btn-sm btn-success" ng-click="editLeaveApplication_Click(data)">Edit</button>
                    </td>
                    <td ng-show="data.Status == leave_application_status.draft.user.value || data.Status == leave_application_status.rejected.user.value">
                        <button type="button" class="btn btn-sm btn-danger" 
                            ng-click="deleteLeaveApplication_Click(data)">Delete</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-sm btn-danger" ng-show="data.Status == leave_application_status.pending.lineManager.value || data.Status == leave_application_status.pending.mainManager.value"
                            data-toggle="modal" data-target="#modalCancelLeaveApplication" ng-click="mapItemToSelApplication(data)">Cancel</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-sm btn-success" ng-show="data.Status == leave_application_status.approve.user.value"
                            data-toggle="modal" data-target="#modalWithdrawLeaveApplication" ng-click="mapItemToSelApplication(data)">Withdraw</button>
                    </td>
                </tr>
               
                    <span ng-if="FilterLeaveApplicationData.length == 0" style="padding: 17px; display: inline-block; text-align: center; width: 100%;">There are no items in this view</span>
               
            </tbody>
        </table>
    </div>

    <!-- Line Manager View  -->
    <div class="panel panel-primary" ng-show="stage.view == 'ManagerView'">

        <!-- Default panel contents -->
        <div id="titleDiv" class="panel-heading">Leave Applications pending review by {{username}}</div>
        <div class="panel-body">
            <p>Please review the following leave applications</p>
        </div>
        <button type="button" class="btn btn-primary" ng-click="refreshLeaveApplication_Click()" style="margin-bottom: 20px; margin-left: 15px;">Refresh</button>

        <ul id="linemanagerTabs" class="nav nav-tabs nav-justified">
            <li role="presentation" class="active">
                <a href="#" ng-click="filterData($event, leave_application_status.pending.lineManager.value)">Pending</a>
            </li>
            <li role="presentation">
                <a href="#" ng-click="filterData($event, leave_application_status.pending.mainManager.value)">Approved</a>
            </li>
            <li role="presentation">
                <a href="#" ng-click="filterData($event, leave_application_status.rejected.user.value)">Declined</a>
            </li>
            <li role="presentation">
                <a href="#" ng-click="filterData($event, leave_application_status.cancel.user.value)">Withdrawn/Cancelled</a>
            </li>
        </ul>
        <!-- Table -->
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Employee Name</th>
                    <th>Leave Type</th>
                    <th>Leave Start Date</th>
                    <th>Leave End Date</th>
                    <th>Total Leave Days</th>
                    <th>Actual Leave (Hours)</th>
                    <th>Reports To</th>
                    <th>Status</th>
                    <th ng-if="stage.tab == leave_application_status.pending.lineManager.value">Comments</th>
                    <th ng-if="stage.tab == 'Cancel'">Cancel Reason</th>
                    <th ng-if="stage.tab == 'Cancel'">Withdraw Reason</th>
                    <th>
                        <span ng-if="stage.tab == leave_application_status.pending.lineManager.value">
                            </button>
                    </th>
                    <th>
                        <span ng-if="stage.tab == leave_application_status.pending.lineManager.value"></span>
                    </th>
                </tr>
            </thead>
            <tr ng-repeat="data in FilterLeaveApplicationData">
                <td>{{data.EmployeeFirstname}} {{data.EmployeeSurname}}</td>
                <td>{{data.LeaveType}}</td>
                <td>{{data.StartDate}}</td>
                <td>{{data.ReturnDate}}</td>
                <td>{{data.TotalDays}}</td>
                <td>{{data.ActualLeave}}</td>
                <td>{{data.ReportTo}}</td>
                <td>{{data.Status}}</td>

                <td>
                    <span ng-show="stage.tab == leave_application_status.pending.lineManager.value">{{data.Remarks}}</span>
                </td>
                <td>
                    <span ng-show="data.Status == leave_application_status.cancel.user.value">{{data.Cancel}}</span>
                </td>
                <td>
                    <span ng-show="data.Status == leave_application_status.withdraw.value">{{data.Withdraw}}</span>
                </td>

                <!-- <td  >{{data.Remarks }} </br> {{data.Withdraw}}</br> {{data.Cancel}}</td> -->
                <!-- <tffd> <span class="btn btn-sm btn-danger"  data-toggle="modal"  data-target="#modalCommentLeaveApplication" ng-click="mapItemToSelApplication(data)">Comment</span></td>-->

                <td>
                    <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#modalRejectLeaveApplication"
                        ng-if="stage.tab == leave_application_status.pending.lineManager.value " ng-click="mapItemToSelApplication(data)">Decline</button>
                </td>
                <td>
                    <button type="button" class="btn btn-sm btn-success" ng-if="stage.tab == leave_application_status.pending.lineManager.value "
                        ng-click="ApproveLeaveApplication(data)">Approve</button>
                </td>
            </tr>
            <span ng-if="FilterLeaveApplicationData.length == 0" style="padding: 17px; display: inline-block; text-align: center; width: 100%;">There are no items in this view</span>

        </table>
    </div>


    <!-- Main Manager View -->
    <div class="panel panel-primary" ng-show="stage.view == 'MainManagerView'">

        <!-- Default panel contents -->
        <div id="titleDiv" class="panel-heading">Leave Applications pending review by {{username}}</div>

        <div class="panel-body">
            <p>Please review the following leave applications</p>
        </div>
        <button type="button" class="btn btn-primary" ng-click="refreshLeaveApplication_Click()" style="margin-bottom: 20px; margin-left: 15px;">Refresh</button>
        <ul id="mainmanagerTabs" class="nav nav-tabs nav-justified">
            <li role="presentation" class="active">
                <a href="#" ng-click="filterData($event, leave_application_status.pending.mainManager.value)">Pending Final Approval</a>
            </li>
            <li role="presentation">
                <a href="#" ng-click="filterData($event, leave_application_status.approve.user.value)">Approved</a>
            </li>
            <li role="presentation">
                <a href="#" ng-click="filterData($event, leave_application_status.rejected.user.value)">Declined</a>
            </li>
            <li role="presentation">
                <a href="#" ng-click="filterData($event, leave_application_status.cancel.user.value)">Withdrawn/Cancelled</a>
            </li>
        </ul>
        <!-- Table -->
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Employee Name</th>
                    <th>Leave Type</th>
                    <th>Start Date of Leave</th>
                    <th>Return Date of Leave</th>
                    <th>Total Days</th>
                    <th>Actual Leave(Hours)</th>
                    <th>Reports To</th>
                    <th>Status</th>
                    <th ng-if="stage.tab == leave_application_status.rejected.user.value">Declined Reason</th>
                    <th ng-if="stage.tab == leave_application_status.cancel.user.value">Withdraw Reason</th>
                    <th ng-if="stage.tab == leave_application_status.pending.mainManger.value">Comments</th>

                    <th> </th>
                    <th> </th>
                    <th> </th>
                    <th> </th>
                    <th>
                        <span ng-if="stage.tab == leave_application_status.pending.mainManager.value "></span>
                    </th>
                    <!-- <th ng-if="stage.tab == 'Withdraw/Cancel'">Comments</th>-->
                    <!--<th ng-if="stage.tab == 'Withdraw/Cancel'">Withdraw Reason</th>-->
                </tr>
            </thead>
            <tr ng-repeat="data in FilterLeaveApplicationData">
                <td>{{data.EmployeeFirstname}} {{data.EmployeeSurname}}</td>
                <td>{{data.LeaveType}}</td>
                <td>{{data.StartDate}}</td>
                <td>{{data.ReturnDate}}</td>
                <td>{{data.TotalDays}}</td>
                <td>{{data.ActualLeave}}</td>
                <td>{{data.ReportTo}}</td>
                <td>{{data.Status}}</td>
                <!-- <td><span ng-show="stage.tab == 'Pending Final Approval'">{{data.Remarks}}</span></td>-->
                <td>
                    <span ng-show="data.Status == leave_application_status.withdraw.user.value">{{data.Withdraw}}</span>
                    <span ng-show="stage.tab == leave_application_status.rejected.user.value">{{data.RejectionReason}}</span>
                </td>
                <td>
                    <span ng-show="data.Status == leave_application_status.pending.mainManager.value">{{data.Remarks}}</span>
                </td>
                <!-- <td>{{data.Remarks}} </br> {{data.Withdraw}}</br> {{data.Cancel}}</td> -->
                <!--<td> <span class="btn btn-sm btn-danger"  data-toggle="modal"  data-target="#modalCommentLeaveApplication" ng-click="mapItemToSelApplication(data)" >Comment</span></td>-->
                <td>
                    <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#modalRejectLeaveApplication"
                        ng-if="stage.tab == leave_application_status.pending.mainManager.value" ng-click="mapItemToSelApplication(data)">Decline</button>
                </td>
                <td>
                    <button type="button" class="btn btn-sm btn-success" ng-if="stage.tab == leave_application_status.pending.mainManager.value "
                        ng-click="MainManagerApproveLeaveApplication(data)">Approve</button>
                </td>
            </tr>
            <span ng-if="FilterLeaveApplicationData.length == 0" style="padding: 17px; display: inline-block; text-align: center; width: 100%;">There are no items in this view</span>

        </table>
    </div>

    <div id="validationErrors"></div>
</section>